<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Visql</title>

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      {{{ mk }}}
    </main>
  </body>
  <script src="/client.js"></script>
</html>


